@mixin respond-to($media) {
	@if $media == small {
		@media only screen and (max-device-width: 460px),
			only screen and (min-device-width: 1024px) and (max-width: 965px) { @content; }
	}
	@else if $media == large {
		@media only screen and (min-device-width: 1024px) and (min-width: 965px) { @content; }
	}
}