/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0; }

#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 800px; }

.nav-div {
  text-align: right;
  padding-right: 15px;
  background-color: white;
  max-width: 100%;
  color: #1474c9;
  padding-bottom: 30px;
  display: flex;
  flex-flow: row-wrap;
  padding-top: 15px;
  padding-left: 15px; }

.home-nav-button {
  float: left; }
  .home-nav-button a:link {
    font-family: 'Glegoo', serif !important;
    font-size: 20px;
    font-weight: bold; }

.other-nav-buttons {
  width: 95%;
  float: right;
  font-family: 'Roboto', sans-serif; }

a:link {
  font-size: 15px;
  color: #1474c9; }

a:visited {
  color: #1474c9; }

a:link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  padding: 3px; }

a:hover {
  border-bottom: 3px #046cf4 solid; }

.homepage-footer {
  padding-top: 300px;
  text-align: center; }

.devleagueImg {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px; }

.GithubImg {
  margin-right: 10px;
  margin-bottom: 12px; }

.googleMapsImg {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 9px; }

.d3Img {
  margin-left: 10px;
  margin-right: 6px;
  margin-bottom: 12px; }

.ReactImg {
  margin-right: 2px;
  margin-bottom: 12px; }

.GulpImg {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px; }

.PostgresImg {
  margin: 10px;
  margin-top: 5px; }

.SassImg {
  margin-left: 15px;
  margin-right: 2px;
  margin-bottom: 29px; }

/* NATION VIEW */
.bigContainer {
  display: flex;
  flex-flow: row-wrap;
  width: 100%; }

.main-container {
  height: 800px;
  max-width: 100%;
  margin: auto; }

.nation-map {
  padding-top: 50px;
  width: 100%; }

.nation-title {
  color: #1474c9;
  font-size: 50px;
  font-family: 'Glegoo', serif; }

.state-clickon {
  color: #042644;
  font-size: 30px;
  font-family: 'Glegoo', serif; }

.bar-chart {
  font-size: 15px;
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin: auto; }
  @media only screen and (max-device-width: 460px), only screen and (min-device-width: 1024px) and (max-width: 965px) {
    .bar-chart {
      width: 100px !important; } }

.recharts-legend-item-text {
  font-size: 18px; }

.current-state {
  padding-left: 380px;
  padding-top: 15px; }

.current-year {
  padding-top: 15px; }

.line-chart {
  font-size: 10px;
  padding-top: 25px;
  padding-bottom: 10px;
  margin: auto; }

.linechart-state {
  padding-left: 430px;
  padding-top: 10px; }

.multi-bar-graph {
  padding-top: 25px;
  padding-bottom: 10px;
  margin: auto; }

.multibar-nav {
  display: flex;
  flex-flow: row-wrap;
  padding-left: 360px;
  padding-top: 10px; }

.modalStyle {
  position: absolute;
  top: 50%;
  left: 180%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  color: black;
  background: #fff;
  width: 700px;
  height: 400px; }
  @media only screen and (min-device-width: 1024px) and (min-width: 965px) {
    .modalStyle {
      left: 240%;
      height: 550px;
      width: 1000px; } }

button {
  border-radius: 5px;
  border: 2px solid #1474c9;
  margin-left: 450px;
  background-color: white;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif; }

.backdropGraph {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3); }

.backdropStyle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3); }

.graphView {
  padding: 10px;
  color: white;
  font-size: 15px;
  text-align: left; }

.radioBtn {
  padding-top: 8px;
  padding-left: 370px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif; }

.stateComparison {
  padding: 10px;
  color: white;
  font-size: 15px;
  font-family: 'Roboto', sans-serif; }

.cityComparison {
  padding: 10px;
  color: white;
  font-size: 15px;
  font-family: 'Roboto', sans-serif; }

input {
  margin-top: 10px; }

select {
  width: 100px;
  margin-left: 40px;
  border: #1474c9 solid 1px;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif; }

.sidebarTitle {
  padding-left: 65px;
  color: white;
  font-size: 25px;
  border-bottom: solid white 3px;
  padding-bottom: 10px; }

.graphImg {
  margin-right: 5px; }

.stateImg {
  margin-right: 5px; }

.cityImg {
  margin-right: 5px; }

.graph-title {
  height: 30px;
  padding-top: 30px;
  background-color: #19548e;
  color: white;
  font-family: 'Glegoo', serif;
  text-align: center; }

.city-title {
  height: 30px;
  padding-top: 30px;
  background-color: #19548e;
  color: white;
  font-family: 'Glegoo', serif;
  text-align: center;
  margin-bottom: 15px; }

.state-title {
  height: 30px;
  padding-top: 30px;
  background-color: #19548e;
  color: white;
  font-family: 'Glegoo', serif;
  text-align: center;
  margin-bottom: 15px; }

.crimes {
  font-size: 16px;
  color: white; }

.stateBlock {
  display: inline-block; }

.stateOne {
  width: 250px;
  height: 400px;
  float: left;
  padding-left: 90px;
  text-align: center; }

.stateTwo {
  width: 250px;
  height: 400px;
  float: right;
  padding-right: 90px;
  text-align: center; }

.CityBlock {
  display: inline-block; }

.cityOne {
  width: 250px;
  height: 400px;
  float: left;
  padding-left: 90px;
  text-align: center; }

.cityTwo {
  width: 250px;
  height: 400px;
  float: right;
  padding-right: 90px;
  text-align: center; }

.main-body {
  text-align: center;
  padding-left: 100px; }

.App-intro {
  font-size: 50px;
  width: 100%; }

/* HOMEPAGE CSS */
.homepage-first {
  background-image: url("../../../assets/map.jpg");
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.homepage-title {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Glegoo', serif;
  font-size: 80px;
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding-top: 300px; }
  @media only screen and (min-device-width: 1024px) and (min-width: 965px) {
    .homepage-title {
      font-size: 100px;
      margin: auto; } }

.homepage-slogan {
  font-size: 20px;
  color: white;
  padding-top: 15px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Satisfy', cursive;
  text-align: center;
  margin: auto; }
  @media only screen and (min-device-width: 1024px) and (min-width: 965px) {
    .homepage-slogan {
      font-size: 30px; } }

.homepage-info {
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row wrap; }

.info-detail {
  max-width: 800px;
  margin: auto;
  font-family: 'Roboto', sans-serif; }

.info-detail-title {
  color: #1474c9;
  font-family: 'Glegoo', serif;
  font-size: 50px;
  text-align: center;
  padding-bottom: 15px; }

.homepage-about {
  background-image: url("../../../assets/Mountains.jpg");
  height: 800px;
  max-width: 100%;
  margin: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.about-detail {
  width: 100%;
  margin: auto; }

.about-title {
  color: white;
  max-width: 100%;
  margin: auto;
  text-align: center;
  font-family: 'Glegoo', serif;
  font-size: 30px;
  padding-top: 400px; }

.contactImg {
  margin: 10px; }

ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 35px; }

/* SIDEBAR CSS */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  margin-top: 20px; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7; }

/* General sidebar styles */
.bm-menu {
  background: #5394fc;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em; }

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad !important;
  padding: 0.8em;
  font-family: 'Roboto', sans-serif; }
  .bm-item-list a:visited {
    color: silver !important; }

/* Styling of overlay */
